{% extends 'food/base.html' %}

{% block meta %}
  <title>Local food – {{ food.title }}/{{ food.original_name }}</title>
{% endblock %}

{% block content %}
<a href="/">Home</a>
<h1>{{ food.title }} / {{ food.original_name }}</h1>

<p>
  {{ food.description }}
</p>

You can find this product in:
<ul>
  {% for country, origin in countries_list %}
    <li>
      <strong><a href="/country/{{ country.code }}">{{ country.name }}</a>:</strong> {{ origin.description }}
    </li>
  {% endfor %}
</ul>
{% endblock %}
