<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  Hello

  <ul>
    {% for country in countries %}
      <li>
        {{ country.name }}

        {% for food in country.foods.all %}
          <a href="/food/{{ food.slug }}">
            {{ food.title }}
          </a>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</body>
</html>