{% extends 'food/base.html' %}

{% block content %}
<div class="lf-container">
  <div class="lf-main-bg"></div>

  <div class="lf-content">
    <h1>
      Local Food
    </h1>
    <p class="text-center">
      Ever wondered what people buy in different regions every day in regular supermarkets? Of course, everybody eats pasta, but what about historical food? Well, you are about to find out!
    </p>
    <form method="POST" action="/search">
      {% csrf_token %}
      <input name="query" class="block ml-auto mr-auto max-w-md shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" id="search" type="text" placeholder="">

      <div class="flex justify-center mt-8">
        <button type="submit" class="bg-green hover:bg-green-dark text-white font-bold py-4 px-8 rounded focus:outline-none focus:shadow-outline mr-4" type="button">
        Search
      </button>
      <a href="/lucky" class="bg-green hover:bg-green-dark text-white font-bold py-4 px-8 rounded focus:outline-none focus:shadow-outline" type="button">
        I am feeling lucky
      </a>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center mb-4">
Food by countries
</h2>
<ul class="lf-cards">
  {% for country in countries %}
    <li class="lf-card">
      <a href="/country/{{ country.code }}">
      <img src="{{ country.image_url }}" class="lf-card-image" />
      {{ country.name }}
      </a>
    </li>
  {% endfor %}
</ul>
<div class="lf-separator"></div>
<h2 class="text-center mb-4">
Food list
</h2>
<ul class="lf-cards">
  {% for food in food_list %}
    <li class="lf-card">
      <a href="/food/{{ food.slug }}">
        <img src="{{ food.image_url }}" class="lf-card-image" />
        {{ food }}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
